/* Guidelines for ordering CSS rules:
   * Box model all rules related to position, size)
   * Font (rules related to font size, style, line-spacing, etc)
   * Border (rules related to border-width, style, etc)
   * Background (background position for sprites, background-size, etc)
   * CSS3/Other (drop shadow, transitions, rounded corners, etc)
*/

body {
    font-family: Helvetica Neue, Helvetica, Arial, Sans-Serif;
    font-size:75%;
}
.container { /* Generic page containers */
    width:800px;
    margin:0 auto;
}
/* Left Nav */
.leftNav {
    position:fixed;
    bottom: 0;
    left: 0;
    top: 0;
    width: 75px;
    font-size: 0.8em;
}
.leftNav ul {
    padding: 5px 0;
}
.leftNav li {
    padding: 42px 0 12px;
    margin: 0 6px;
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
    cursor: pointer;
}
.leftNav li.cat {
    background-position: 50% 0;
}
.leftNav li.social {
    background-position: 50% -80px;
}
.leftNav li.sell {
    background-position: 50% -160px;
}
.leftNav li.support {
    background-position: 50% -240px;
}

/* Content Area */
.body {
    margin-left:75px;
}

/* Tabs */
.mainContent nav ul {
    white-space: nowrap;
}
.mainContent nav li {
    position: relative;
    display:inline-block;
    width:25%;
    padding: 16px 0;
    margin: 0;
    text-align:center;
    cursor: pointer;
}
.mainContent nav li:hover {
    opacity:0.9;
}
.mainContent nav li.active:after {
    display: block;
    position: absolute;
    top: 100%;
    right: 50%;
    width:0;
    height: 0;
    margin-right: -6px;
    border: solid 6px transparent;
    border-top-color: #7F7F7F;
    content: "";
}
/* Header */
header {
    height:262px;
}
header .logo {
    display: block;
    position: relative;
    margin: 0 auto;
    top: 50px;
}

/* Footer */
footer .container {
    padding:26px 0;
    white-space: nowrap;
}
.footerNav {
    display: inline-block;
    width: 20%;
    font-size: 0.91em;
    vertical-align: top;
}
.footerNav dt{
    padding-top: 16px;
    font-weight:bold;
    text-transform: uppercase;
}
.footerNav dd {
    padding-top:10px;
}

