/*
 *** main.css - Event Grid / Discovery page (homepage)
 *
 * Guidelines for ordering CSS rules:
 * Box model all rules related to position, size)
 * Font (rules related to font size, style, line-spacing, etc)
 * Border (rules related to border-width, style, etc)
 * Background (background position for sprites, background-size, etc)
 * CSS3/Other (drop shadow, transitions, rounded corners, etc)
*/

header .topSearches {
    display: none;
}
/* Marketing section */

#marketing .container {
    padding:22px 0 0;
}
#marketing .features li{
    padding: 20px 0 20px 60px;
    border-bottom-width:1px;
    border-bottom-style:solid;
    cursor : pointer;
}
#marketing .features li:last-child {
    border-bottom-style:none;
}
#marketing li.fanprotect {
    background-position:0 -1040px;
}
#marketing li.gift {
    background-position:0 -1120px;
}
#marketing li.rewards {
    background-position:0 -1200px;
}
#marketing li.social {
    background-position:0 -1280px;
}
#marketing li.mobile {
    background-position:0 -1360px;
}

/* Extras (event tuner/fb upsell) */
.extras .content {
    padding: 45px 0;
    font-size:0.91em;
    text-align:center;
}
.extras .btn {
    margin: 24px auto 0;
    width: 80%;
}
/* Feature Upsell */
.upsell {
    position:relative;
    padding:20px 4px;
    margin:40px auto 24px;
    max-width: 830px;
    text-align:center;
    border-width: 1px;
    border-style: solid;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
}
.upsell .filters {
    width: 90%;
    margin: 14px auto 0;
}
.upsell .filters ul {
    overflow:hidden;
    border-width:1px;
    border-style : solid;
    white-space:nowrap;
    vertical-align: bottom; /* Makes table-cell display work well in the UL */
}
.upsell .filters li {
    float: left;
    position: relative;
    margin: 0;
    width: 33%;
    font-size: 1.16em;
    border-left-width: 1px;
    border-left-style: solid;
}
.upsell .filters li:first-child {
    border-left-width:0;
}
.upsell .filters li a {
    display: block;
    padding:38px 12px 11px;
    overflow: hidden;
    line-height: 22px;
    text-overflow: ellipsis;
}
.upsell .filters .sports {
    background-position: 50% -483px;
}
.upsell .filters .music {
    background-position: 50% -562px;
}
.upsell .filters .theater {
    background-position: 50% -642px;
}
.upsell .btnContainer button {
    width: 100%;
    margin-top: 8px;
}

/* Event Grid */
.eventGrid {
    margin-bottom: 50px;
}
.eventGrid h1 {
    float: left;
    padding:4px 14px 2px 0;
    font-size: 1.66em;
}
.eventGrid .filters {
    float : right;
    margin-bottom: 20px;
}
.eventGrid ul {
    clear: both;
    margin:1.16em -1.16em 1.6em 0;
}
.eventGrid li.event {
    position: relative;
    display: block;
    float:left;
    width:100%;
    padding: 0 10px 10px 0;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
}
.eventGrid li.event .spec {
    position:relative;
    height: 14em;
    border-style:solid;
    border-width:1px;
}
.eventGrid li.event:nth-child(4n+0) {
    margin-right:0;
}
.eventGrid li.event .details {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px;
}
.eventGrid li.event .metadata {
    margin-right: 3.4em;
    font-size: 0.91em;
}
.eventGrid li.event .metadata dt {
    font-weight:bold;
}
.eventGrid li.event .price {
    position:absolute;
    right:10px;
    bottom:10px;
    font-size: 0.75em;
    text-align:right;
}
.eventGrid li.event .price dd {
    display: block;
    font-size:1.54em;
}
.eventGrid li.event .dates {
    position:absolute;
    top: 0;
    left: 0;
    padding: 6px 8px;
    font-size:0.8em;
    text-transform: uppercase;
}
.eventGrid li.event .tools {
    padding: 8px 0;
}
.eventGrid li.event .tools li {
    display: inline-block;
}
.eventGrid .tools .thumbUp,
.eventGrid .tools .thumbDown {
    width:22px;
    height:22px;
}
.thumbUp {
    background-position: 50% -894px;
}
.thumbDown {
    background-position: 50% -974px;
}